* {
	box-sizing: border-box;
}

:root {
	background-color: #000;
}

body {
	height: 100vh;
	color: #25e825;
	font-family: 'Courier New', Courier, monospace;
}

/* App */
.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Terminal Container */
.terminal {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 80%;
	width: 80%;
	border: 2px solid #25e825;
	overflow: hidden;
}

.scroller {
	width: 100%;
	bottom: 0;
}

.terminalText {
	padding: 0.5em 2em;
}
